In [66]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Downloads/OLA_DATA_Dataset.csv')

In [3]:
df.head(2)

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating
0,7/26/2024 14:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN
1,7/25/2024 22:20,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0

In [4]:
df.shape

(103024, 19)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 19 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date                        103024 non-null  object
 1   Time                        103024 non-null  object
 2   Booking_ID                  103024 non-null  object
 3   Booking_Status              103024 non-null  object
 4   Customer_ID                 103024 non-null  object
 5   Vehicle_Type                103024 non-null  object
 6   Pickup_Location             103024 non-null  object
 7   Drop_Location               103024 non-null  object
 8   V_TAT                       63967 non-null   float64
 9   C_TAT                       63967 non-null   float64
 10  Canceled_Rides_by_Customer  10499 non-null   object
 11  Canceled_Rides_by_Driver    18434 non-null   object
 12  Incomplete_Rides            63967 non-null   object
 13  Incomplete_Rides_Reason     3926 non-null    object
 14  Booking_Value               103024 non-null  int64
 15  Payment_Method              63967 non-null   object
 16  Ride_Distance               103024 non-null  int64
 17  Driver_Ratings              63967 non-null   float64
 18  Customer_Rating             63967 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 14.9+ MB

In [22]:
df['Date'] = pd.to_datetime(df['Date']).dt.date          

#Converted Datatype of Date and removed timestamp from it as we have separate time column

In [25]:
df['Date'] = pd.to_datetime(df['Date'])

In [50]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

In [53]:
df['Hour'] = df['Time'].dt.hour

In [59]:
def time_cat(x):
    if 12 >= x >= 6:
        return 'Morning'
    elif 16 >= x > 12:
        return 'Afternoon'
    elif 20 >= x > 16:
        return 'Evening'
    else:
        return 'Night'

df['Hour'] = df['Hour'].apply(time_cat)

In [61]:
df.drop(columns=['Time'], inplace=True)

#### We have extracted hour from time and categorised it into Four parts of the day for better interpretation

In [65]:
#df.head(2)
#df.dtypes

In [8]:
df.isnull().sum()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                         39057
C_TAT                         39057
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Incomplete_Rides              39057
Incomplete_Rides_Reason       99098
Booking_Value                     0
Payment_Method                39057
Ride_Distance                     0
Driver_Ratings                39057
Customer_Rating               39057
dtype: int64

In [68]:
# 1) imports
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse

# 3) build the SQLAlchemy connection URL (safe approach: quote password)
user = "root"
password = "@Mandar6607"
host = "localhost"
port = 3306
database = "OLA"
password_quoted = urllib.parse.quote_plus(password)      # escape special chars

engine_url = f"mysql+pymysql://{user}:{password_quoted}@{host}:{port}/{database}?charset=utf8mb4"

# 4) create SQLAlchemy engine
engine = create_engine(engine_url, pool_pre_ping=True)

# 5) write DataFrame to SQL table
# if_exists options: 'fail', 'replace', 'append'
df.to_sql(name="bookings", con=engine, if_exists="append", index=False, chunksize=1000, method="multi")

# 6) dispose engine when done (closes connection pool)
engine.dispose()

print("DataFrame written to MySQL table 'order_table'.")

DataFrame written to MySQL table 'order_table'.